@import '../../style/vars';

.block-image {
	position: relative;
	height: 295px;
	padding: 23px 31.5px 50px;
	border: 3px solid $background;
	border-radius: 20px;

	&--basket {
		width: 225px;
		padding: 30px;
		display: block;
	}
}

.block-button {
	display: flex;
	justify-content: space-between;
	align-items: center;

	&--basket {
		justify-content: flex-start;
		gap: 14px;
	}
}

.favorite-active .block-image {
	border-color: $brand;
}

.card:hover.favorite-active .block-image::after {
	background-image: url('../../resources/img/favorite-active.svg');
}

.card {
	width: 100%;
	height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;

	&--basket {
		flex-direction: row;
		justify-content: space-between;
	}

	&:hover {
		position: relative;
		transform: scale(1.02);

		.block-image::after {
			position: absolute;
			content: '';
			cursor: pointer;
			width: 21px;
			height: 21px;
			top: 15px;
			right: 15px;
			background: url('../../resources/img/favorite.svg') no-repeat;
			background-size: 21px 21px;
		}
	}

	&:hover &__image {
		transform: scale(1.08);
	}

	&__image {
		width: 100%;
		height: 100%;
		object-fit: contain;
	}

	&__info {
		padding: 10px 15px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		flex-grow: 1;

		&--basket {
			flex-grow: 0;
			width: 525px;
			padding: 15px 10px;
		}
	}

	&__category {
		position: absolute;
		font-size: 14px;
		color: #444444;
		bottom: 14px;
		left: 50%;
		text-align: center;
		transform: translateX(-50%);
		white-space: nowrap;

		&--basket {
			font-size: 14px;
			color: #707070;
			white-space: nowrap;
			margin-bottom: 5px;
		}
	}

	&__name {
		@include font-subtitle;
		font-size: 18px;
		letter-spacing: -0.5px;
		margin-bottom: 10px;
		display: -webkit-box;
		-webkit-box-orient: vertical;
		line-clamp: 2;
		-webkit-line-clamp: 2;
		overflow: hidden;
		max-height: 40px;
		text-overflow: ellipsis;

		&--basket {
			font-size: 24px;
			line-height: 30px;
			margin-bottom: 5px;
			max-height: 60px;
		}
	}

	&__rating {
		font-size: 18px;
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 3px;

		&--basket {
			justify-content: flex-start;
			gap: 5px;
		}

		&-count {
			@include font-base;
			color: #707070;
		}
	}

	&__btn {
		@include font-base;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 20px;
		width: 135px;
		padding: 10px;
		cursor: pointer;
		border-radius: 10px;
		border: none;
		background-color: $brand;

		&--inBasket {
			background-color: #ededed;
		}

		&--basket {
			width: 40px;
			height: 40px;

			background-repeat: no-repeat;
			background-position: center;
		}

		&--minus {
			background-image: url('../../resources/img/minus.svg');
		}

		&--plus {
			background-image: url('../../resources/img/plus.svg');
		}
	}

	&__count,
	&__price {
		@include font-subtitle;
		font-size: 24px;
	}

	&__price {
		margin-left: auto;
	}

	&__currency {
		@include font-currency;
		position: relative;
		padding-right: 26px;

		&::after {
			position: absolute;
			content: '';
			width: 20px;
			height: 20px;
			top: 50%;
			right: 0;
			transform: translateY(-50%);
			background: url('../../resources/img/basket.svg') no-repeat center center;
		}

		&--inBasket::after {
			width: 22px;
			height: 17px;
			background: url('../../resources/img/car.svg') no-repeat center center;
		}

		&--basket {
			@include font-currency;
			font-size: 20px;
		}
	}

	&__description {
		@include font-base;
		display: -webkit-box;
		-webkit-box-orient: vertical;
		line-clamp: 5;
		-webkit-line-clamp: 5;
		overflow: hidden;
		max-height: 450px;
		text-overflow: ellipsis;
		margin-bottom: 10px;
	}
}
